@import 'tailwindcss';

:root {

  --color-accent-green: #28be46;
  --color-accent-blue: #6573ff;
  --color-accent-red: #ff4460;
  --color-accent-yellow: #ffb600;

  --color-bg-globe: #f4f4f4;
  --color-bg-island: #ffffff;
  --color-bg-island-inner: #d9fee0;
  --color-bg-overlay: rgba(0, 0, 0, 0.5);   
  

  --color-text-primary: #000;
  --color-text-secondary: rgba(0, 0, 0, 0.5);
  --color-text-tertiary: rgba(0, 0, 0, 0.4);
  --color-text-primary-inv: #fff;
  --color-text-secondary-inv: rgba(255, 255, 255, 0.5);
  --color-text-tertiary-inv: rgba(255, 255, 255, 0.6);

  --color-link: var(--color-accent-blue);
  --color-link-visited: var(--color-accent-red);

  --color-icon-primary: rgba(0, 0, 0, 0.9);
  --color-icon-secondary: rgba(0, 0, 0, 0.75);
  --color-icon-tertiary: var(--color-text-tertiary);
  --color-icon-primary-inv: rgba(255, 255, 255, 0.9);
  --color-icon-secondary-inv: rgba(255, 255, 255, 0.75);
  --color-icon-tertiary-inv: rgba(255, 255, 255, 0.55);
  --color-icon-link: var(--color-accent-blue);
  --color-icon-placeholder: rgba(0, 0, 0, 0.25);

  --color-button-primary-default: var(--color-accent-green);
  --color-button-primary-hover: #48e868;
  --color-button-primary-clicked: #19a235;
  --color-button-primary-disabled: rgba(40, 190, 70, 0.6);
  
  --color-button-secondary-default: var(--color-accent-green);
  --color-button-secondary-hover: var(--color-accent-green);
  --color-button-secondary-clicked: var(--color-button-primary-clicked);
  --color-button-secondary-disabled: rgba(40, 190, 70, 0.5);

  --color-button-tertiary-default: rgba(0, 0, 0, 0.15);
  --color-button-tertiary-hover: rgba(0, 0, 0, 0.07);
  --color-button-tertiary-clicked: rgba(0, 0, 0, 0.2);
  --color-button-tertiary-disabled: rgba(0, 0, 0, 0.05);

  --color-button-accent-default: var(--color-accent-yellow);
  --color-button-accent-hover: #ffd52f;
  --color-button-accent-clicked: #eba800;
  --color-button-accent-disabled: rgba(255, 182, 0, 0.5);

  --color-input-default: rgba(0, 0, 0, 0.4);
  --color-input-hover: rgba(0, 0, 0, 0.7);
  --color-input-focus: var(--color-accent-green);
  --color-input-disabled: rgba(0, 0, 0, 0.2);

  --color-extra-devider: rgba(0, 0, 0, 0.12);
  --color-extra-placeholder: rgba(0, 0, 0, 0.35);

  --color-warning-success: var(--color-accent-green);
  --color-warning-caution: var(--color-accent-yellow);
  --color-warning-failed: var(--color-accent-red);
};

@theme {

  --color-accent-green: var(--color-accent-green);
  --color-accent-blue: var(--color-accent-blue);
  --color-accent-red: var(--color-accent-red);
  --color-accent-yellow: var(--color-accent-yellow);

  --color-bg-globe: var(--color-bg-globe);
  --color-bg-island: var(--color-bg-island);
  --color-bg-island-inner: var(--color-bg-island-inner)
  --color-bg-overlay: var(--color-bg-overlay);   
  --color-bg-accent: var(--color-accent-green);

  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-tertiary: var(--color-text-tertiary);
  --color-text-primary-inv: var(--color-text-primary-inv);
  --color-text-secondary-inv: var(--color-text-secondary-inv);
  --color-text-tertiary-inv: var(--color-text-tertiary-inv);

  --color-link: var(--color-accent-blue);
  --color-link-visited: var(--color-accent-red);

  --color-icon-primary: var(--color-icon-primary);
  --color-icon-secondary: var(--color-icon-secondary);
  --color-icon-tertiary: var(--color-text-tertiary);
  --color-icon-primary-inv: var(--color-icon-primary-inv);
  --color-icon-secondary-inv: var(--color-icon-secondary-inv);
  --color-icon-tertiary-inv: var(--color-icon-tertiary-inv);
  --color-icon-link: var(--color-accent-blue);
  --color-icon-placeholder: var(--color-icon-placeholder);

  --color-button-primary-default: var(--color-accent-green);
  --color-button-primary-hover: var(--color-button-primary-hover);
  --color-button-primary-clicked: var(--color-button-primary-clicked);
  --color-button-primary-disabled: var(--color-button-primary-disabled);
  
  --color-button-secondary-default: var(--color-accent-green);
  --color-button-secondary-hover: var(--color-accent-green);
  --color-button-secondary-clicked: var(--color-button-primary-clicked);
  --color-button-secondary-disabled: var(--color-button-secondary-disabled);

  --color-button-tertiary-default: var(--color-button-tertiary-default);
  --color-button-tertiary-hover: var(--color-button-tertiary-hover);
  --color-button-tertiary-clicked: var(--color-button-tertiary-clicked);
  --color-button-tertiary-disabled: var(--color-button-tertiary-disabled);

  --color-button-accent-default: var(--color-accent-yellow);
  --color-button-accent-hover: var(--color-button-accent-hover);
  --color-button-accent-clicked: var(--color-button-accent-clicked);
  --color-button-accent-disabled: var(--color-button-accent-disabled);

  --color-input-default: var(--color-input-default);
  --color-input-hover: var(--color-input-hover);
  --color-input-focus: var(--color-accent-green);
  --color-input-disabled: var(--color-input-disabled);

  --color-extra-devider: var(--color-extra-devider);
  --color-extra-placeholder: var(--color-extra-placeholder);

  --color-warning-success: var(--color-accent-green);
  --color-warning-caution: var(--color-accent-yellow);
  --color-warning-failed: var(--color-accent-red);

};